html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  line-height: 1.5rem;
}

.pyramid img {
  width: 100%;
  display: block;
  padding: 1em;
  vertical-align: middle;
}

.giza h2 {
  font-family: Lato, sans-serif;
  text-align: left;
}

.giza p{
  font-family: Lato, sans-serif;
  text-align: left;
}

a {
  text-decoration: none;
  font-family: Lato, sans-serif;
  color: #666;
}

a:hover {
  color: #333;
}

.pyramid {
  display: inline-block;
  max-width: 25em;
}

.giza {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
